../.99-realsense-libusb.rules
../.bash*
../.cache/
../.config/
../.dotnet/
../.gitconfig
../.gnupg/
../.ipython/
../.local/
../.pam_environment
../.pki/
../.ros/
../.rviz2/
../.ssh/
../.thunderbird/
../.vscode/
../Desktop/
../Documents/
../Downloads/
../Lab_Python_basics/
../Pictures/
../Robot_ws/
../Videos/
../apriltag_ws/
../blablabla/
../frames_*.gv
../frames_*.pdf
../log/
../snap/
../python_venv/
../ros2_humble/
../xsarm_amd64_install.sh

